In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

week3_day1_pandas****

In [1]:
import pandas as pd

In [45]:
#creating and populating dataframe in pd
DSFP50_INFO = {
    "name": ["sony", "nabil"],
    "age": ["9", "12"],
    "email": ["sony12@dsfp.com", "nabil9@dsfp.com"]
}

df = pd.DataFrame(DSFP50_INFO)
print(df)

    name age            email
0   sony   9  sony12@dsfp.com
1  nabil  12  nabil9@dsfp.com

Exercise

In [4]:
import pandas as pd

In [5]:
#importing dataset
data=pd.read_csv('/kaggle/input/heartdisease/Heart_Disease_Prediction.csv')

In [21]:
print(data)

     Age  Sex  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
0     70    1                4  130          322             0            2
1     67    0                3  115          564             0            2
2     57    1                2  124          261             0            0
3     64    1                4  128          263             0            0
4     74    0                2  120          269             0            2
..   ...  ...              ...  ...          ...           ...          ...
265   52    1                3  172          199             1            0
266   44    1                2  120          263             0            0
267   56    0                2  140          294             0            2
268   57    1                4  140          192             0            0
269   67    1                4  160          286             0            2

     Max HR  Exercise angina  ST depression  Slope of ST  \
0       109                0            2.4            2
1       160                0            1.6            2
2       141                0            0.3            1
3       105                1            0.2            2
4       121                1            0.2            1
..      ...              ...            ...          ...
265     162                0            0.5            1
266     173                0            0.0            1
267     153                0            1.3            2
268     148                0            0.4            2
269     108                1            1.5            2

     Number of vessels fluro  Thallium Heart Disease
0                          3         3      Presence
1                          0         7       Absence
2                          0         7      Presence
3                          1         7       Absence
4                          1         3       Absence
..                       ...       ...           ...
265                        0         7       Absence
266                        0         7       Absence
267                        0         3       Absence
268                        0         6       Absence
269                        3         3      Presence

[270 rows x 14 columns]

In [8]:
#print top 10 rows
data.head(10)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
5,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
6,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
7,59,1,4,110,239,0,2,142,1,1.2,2,1,7,Presence
8,60,1,4,140,293,0,2,170,0,1.2,2,2,7,Presence
9,63,0,4,150,407,0,2,154,0,4.0,2,3,7,Presence

In [17]:
#print 3 columns from dataset
data.columns[0:3]

Index(['Age', 'Sex', 'Chest pain type'], dtype='object')

In [24]:
#print last 10 rows
#data.iloc[-10:]
#or
data.tail(10)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
260,58,0,3,120,340,0,0,172,0,0.0,1,0,3,Absence
261,60,1,4,130,206,0,2,132,1,2.4,2,2,7,Presence
262,58,1,2,120,284,0,2,160,0,1.8,2,0,3,Presence
263,49,1,2,130,266,0,0,171,0,0.6,1,0,3,Absence
264,48,1,2,110,229,0,0,168,0,1.0,3,0,7,Presence
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [41]:
#print the 6, 7, 10, 12 rows
data.iloc[[6,7,10,12]]
#print the column names of 6,7,10,12 rows
data.columns[[6,7,10,12]]

Index(['EKG results', 'Max HR', 'Slope of ST', 'Thallium'], dtype='object')

In [34]:
#print the first column of the 13th and 16th row
data.iloc[[13,16], :1]

    Age
13   61
16   46

In [38]:
#print the value count of a column of choice
data["BP"].value_counts()

BP
120    34
130    31
140    30
110    17
150    17
160    11
125    10
112     9
138     9
128     9
118     7
135     6
108     6
132     6
124     5
145     5
100     4
134     4
152     4
142     3
115     3
136     3
105     3
126     3
180     3
122     3
170     2
178     2
94      2
102     2
101     1
104     1
106     1
156     1
174     1
144     1
146     1
165     1
148     1
158     1
200     1
192     1
117     1
123     1
129     1
155     1
172     1
Name: count, dtype: int64

In [48]:
#print the last element of your dataframe
data.iloc[-1]

Age                              67
Sex                               1
Chest pain type                   4
BP                              160
Cholesterol                     286
FBS over 120                      0
EKG results                       2
Max HR                          108
Exercise angina                   1
ST depression                   1.5
Slope of ST                       2
Number of vessels fluro           3
Thallium                          3
Heart Disease              Presence
Name: 269, dtype: object

In [40]:
#print out all columns
data.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [50]:
#create a dictionary 'data' with 3 key value pairs - name , age and score
Data = {
    "name": ["sandy", "nara", "hanna", "mike", "Amira"],
    "age": ["19", "20", "16", "15", "17"],
    "score": ["70", "55", "80", "45","92"]
}
print(Data)

{'name': ['sandy', 'nara', 'hanna', 'mike', 'Amira'], 'age': ['19', '20', '16', '15', '17'], 'score': ['70', '55', '80', '45', '92']}

In [66]:
#using the dictionary create a dataframe
Data = {
    "name": ["sandy", "nara", "hanna", "mike", "Amira"],
    "age": [19, 20, 16, 15, 17],
    "score": [70, 55, 80, 45, 92]
}
df = pd.DataFrame(Data)
print(df)

    name  age  score
0  sandy   19     70
1   nara   20     55
2  hanna   16     80
3   mike   15     45
4  Amira   17     92

In [75]:
#filter int
df['age'] > 18

0     True
1     True
2    False
3    False
4    False
Name: age, dtype: bool

In [74]:
#to filter only true values
df[df['age'] > 18]

    name  age  score
0  sandy   19     70
1   nara   20     55

In [76]:
#filter strings
df[df['name'] == 'mike']

   name  age  score
3  mike   15     45

In [80]:
#to filter more than one element
df[df['name'].isin(['mike','hanna'])]

    name  age  score
2  hanna   16     80
3   mike   15     45