In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mental-health-dataset/prevalence-by-mental-and-substance-use-disorder.csv
/kaggle/input/mental-health-dataset/share-with-mental-and-substance-disorders.csv
/kaggle/input/mental-health-dataset/prevalence-of-depression-males-vs-females.csv
/kaggle/input/mental-health-dataset/share-with-mental-or-substance-disorders-by-sex.csv
/kaggle/input/mental-health-dataset/share-with-depression.csv
/kaggle/input/mental-health-dataset/mental-and-substance-use-as-share-of-disease.csv

In [6]:
data = pd.read_csv("/kaggle/input/mental-health-dataset/share-with-depression.csv")

In [9]:
data

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,5.125291
1,Afghanistan,AFG,1991,5.116306
2,Afghanistan,AFG,1992,5.106558
3,Afghanistan,AFG,1993,5.100328
4,Afghanistan,AFG,1994,5.099424
...,...,...,...,...
6775,Zimbabwe,ZWE,2015,3.548613
6776,Zimbabwe,ZWE,2016,3.557508
6777,Zimbabwe,ZWE,2017,3.564138
6778,Zimbabwe,ZWE,2018,3.563141
6779,Zimbabwe,ZWE,2019,3.554571

In [87]:
user = {
    "name": "mary",
    "age": 9,
    "email": "marynews@example.com"
}

print(user)

{'name': 'mary', 'age': 9, 'email': 'marynews@example.com'}

In [14]:
data.shape
data.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)'],
      dtype='object')

In [16]:
type(data)

pandas.core.frame.DataFrame

In [22]:
# pick only the year columnn from our data
data["Year"]
data.Year

0       1990
1       1991
2       1992
3       1993
4       1994
        ...
6775    2015
6776    2016
6777    2017
6778    2018
6779    2019
Name: Year, Length: 6780, dtype: int64

In [24]:
# to pick multiple columns 
data [["Code", "Year"]]

     Code  Year
0     AFG  1990
1     AFG  1991
2     AFG  1992
3     AFG  1993
4     AFG  1994
...   ...   ...
6775  ZWE  2015
6776  ZWE  2016
6777  ZWE  2017
6778  ZWE  2018
6779  ZWE  2019

[6780 rows x 2 columns]

In [28]:
data.iloc[8, 0:3]

Entity    Afghanistan
Code              AFG
Year             1998
Name: 8, dtype: object

In [30]:
data.loc[0:3, ["Entity",	"Code",	"Year"] ]

        Entity Code  Year
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992
3  Afghanistan  AFG  1993

data["Entity"].unique()

Week3_Day2_pd

In [2]:
import pandas as pd

In [20]:
DSFP50_INFO = {
    "name": [
        "Nabal", "Sony", "Amina", "Tunde", "Kwame",
        "Fatima", "Chinedu", "Zainab", "Kofi", "Aisha",
        "Sadiq", "Mary", "Ibrahim", "Blessing", "Yusuf",
        "Grace", "Samuel", "Halima", "Peter", "Amaka"
    ],
    "age": [
        4, 6, 12, 15, 10,
        14, 13, 11, 9, 16,
        17, 8, 18, 14, 16,
        7, 19, 13, 20, 15
    ],
    "email": [
        "nabal@dsfp.com", "sony@dsfp.com", "amina@dsfp.com", "tunde@dsfp.com", "kwame@dsfp.com",
        "fatima@dsfp.com", "chinedu@dsfp.com", "zainab@dsfp.com", "kofi@dsfp.com", "aisha@dsfp.com",
        "sadiq@dsfp.com", "mary@dsfp.com", "ibrahim@dsfp.com", "blessing@dsfp.com", "yusuf@dsfp.com",
        "grace@dsfp.com", "samuel@dsfp.com", "halima@dsfp.com", "peter@dsfp.com", "amaka@dsfp.com"
    ],
    "country": [
        "Nigeria", "Ghana", "Nigeria", "Kenya", "Ghana",
        "Egypt", "Nigeria", "Nigeria", "Ghana", "Kenya",
        "Nigeria", "South Africa", "Egypt", "Nigeria", "Sudan",
        "South Africa", "Kenya", "Nigeria", "Ghana", "Nigeria"
    ],
    "gender": [
        "Male", "Female", "Female", "Male", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female"
    ]
}
data = pd.DataFrame(DSFP50_INFO)
data

        name  age              email       country  gender
0      Nabal    4     nabal@dsfp.com       Nigeria    Male
1       Sony    6      sony@dsfp.com         Ghana  Female
2      Amina   12     amina@dsfp.com       Nigeria  Female
3      Tunde   15     tunde@dsfp.com         Kenya    Male
4      Kwame   10     kwame@dsfp.com         Ghana    Male
5     Fatima   14    fatima@dsfp.com         Egypt  Female
6    Chinedu   13   chinedu@dsfp.com       Nigeria    Male
7     Zainab   11    zainab@dsfp.com       Nigeria  Female
8       Kofi    9      kofi@dsfp.com         Ghana    Male
9      Aisha   16     aisha@dsfp.com         Kenya  Female
10     Sadiq   17     sadiq@dsfp.com       Nigeria    Male
11      Mary    8      mary@dsfp.com  South Africa  Female
12   Ibrahim   18   ibrahim@dsfp.com         Egypt    Male
13  Blessing   14  blessing@dsfp.com       Nigeria  Female
14     Yusuf   16     yusuf@dsfp.com         Sudan    Male
15     Grace    7     grace@dsfp.com  South Africa  Female
16    Samuel   19    samuel@dsfp.com         Kenya    Male
17    Halima   13    halima@dsfp.com       Nigeria  Female
18     Peter   20     peter@dsfp.com         Ghana    Male
19     Amaka   15     amaka@dsfp.com       Nigeria  Female

In [4]:
#getting random info about the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     20 non-null     object
 1   age      20 non-null     int64
 2   email    20 non-null     object
 3   country  20 non-null     object
 4   gender   20 non-null     object
dtypes: int64(1), object(4)
memory usage: 932.0+ bytes

In [5]:
#statistics of the dataframe
data.describe()

            age
count  20.00000
mean   12.85000
std     4.43995
min     4.00000
25%     9.75000
50%    13.50000
75%    16.00000
max    20.00000

In [21]:
#data index
#indexing by email
data.set_index("email")

                       name  age       country  gender
email
nabal@dsfp.com        Nabal    4       Nigeria    Male
sony@dsfp.com          Sony    6         Ghana  Female
amina@dsfp.com        Amina   12       Nigeria  Female
tunde@dsfp.com        Tunde   15         Kenya    Male
kwame@dsfp.com        Kwame   10         Ghana    Male
fatima@dsfp.com      Fatima   14         Egypt  Female
chinedu@dsfp.com    Chinedu   13       Nigeria    Male
zainab@dsfp.com      Zainab   11       Nigeria  Female
kofi@dsfp.com          Kofi    9         Ghana    Male
aisha@dsfp.com        Aisha   16         Kenya  Female
sadiq@dsfp.com        Sadiq   17       Nigeria    Male
mary@dsfp.com          Mary    8  South Africa  Female
ibrahim@dsfp.com    Ibrahim   18         Egypt    Male
blessing@dsfp.com  Blessing   14       Nigeria  Female
yusuf@dsfp.com        Yusuf   16         Sudan    Male
grace@dsfp.com        Grace    7  South Africa  Female
samuel@dsfp.com      Samuel   19         Kenya    Male
halima@dsfp.com      Halima   13       Nigeria  Female
peter@dsfp.com        Peter   20         Ghana    Male
amaka@dsfp.com        Amaka   15       Nigeria  Female

In [22]:
#to make index style permanent
data.set_index("email",inplace=True)

In [17]:
data

                       name  age       country  gender
email
nabal@dsfp.com        Nabal    4       Nigeria    Male
sony@dsfp.com          Sony    6         Ghana  Female
amina@dsfp.com        Amina   12       Nigeria  Female
tunde@dsfp.com        Tunde   15         Kenya    Male
kwame@dsfp.com        Kwame   10         Ghana    Male
fatima@dsfp.com      Fatima   14         Egypt  Female
chinedu@dsfp.com    Chinedu   13       Nigeria    Male
zainab@dsfp.com      Zainab   11       Nigeria  Female
kofi@dsfp.com          Kofi    9         Ghana    Male
aisha@dsfp.com        Aisha   16         Kenya  Female
sadiq@dsfp.com        Sadiq   17       Nigeria    Male
mary@dsfp.com          Mary    8  South Africa  Female
ibrahim@dsfp.com    Ibrahim   18         Egypt    Male
blessing@dsfp.com  Blessing   14       Nigeria  Female
yusuf@dsfp.com        Yusuf   16         Sudan    Male
grace@dsfp.com        Grace    7  South Africa  Female
samuel@dsfp.com      Samuel   19         Kenya    Male
halima@dsfp.com      Halima   13       Nigeria  Female
peter@dsfp.com        Peter   20         Ghana    Male
amaka@dsfp.com        Amaka   15       Nigeria  Female

In [23]:
data.loc[['nabal@dsfp.com']]

                 name  age  country gender
email
nabal@dsfp.com  Nabal    4  Nigeria   Male

In [24]:
#reset back to normal index form
data.reset_index()

                email      name  age       country  gender
0      nabal@dsfp.com     Nabal    4       Nigeria    Male
1       sony@dsfp.com      Sony    6         Ghana  Female
2      amina@dsfp.com     Amina   12       Nigeria  Female
3      tunde@dsfp.com     Tunde   15         Kenya    Male
4      kwame@dsfp.com     Kwame   10         Ghana    Male
5     fatima@dsfp.com    Fatima   14         Egypt  Female
6    chinedu@dsfp.com   Chinedu   13       Nigeria    Male
7     zainab@dsfp.com    Zainab   11       Nigeria  Female
8       kofi@dsfp.com      Kofi    9         Ghana    Male
9      aisha@dsfp.com     Aisha   16         Kenya  Female
10     sadiq@dsfp.com     Sadiq   17       Nigeria    Male
11      mary@dsfp.com      Mary    8  South Africa  Female
12   ibrahim@dsfp.com   Ibrahim   18         Egypt    Male
13  blessing@dsfp.com  Blessing   14       Nigeria  Female
14     yusuf@dsfp.com     Yusuf   16         Sudan    Male
15     grace@dsfp.com     Grace    7  South Africa  Female
16    samuel@dsfp.com    Samuel   19         Kenya    Male
17    halima@dsfp.com    Halima   13       Nigeria  Female
18     peter@dsfp.com     Peter   20         Ghana    Male
19     amaka@dsfp.com     Amaka   15       Nigeria  Female

In [41]:
DSFP50_INFO = {
    "name": [
        "Nabal","Sony","Amina","Tunde","Kwame","Fatima","Chinedu","Zainab","Kofi","Aisha",
        "Sadiq","Mary","Ibrahim","Blessing","Yusuf","Grace","Samuel","Halima","Peter","Amaka",
        "John","Sarah","Ahmed","Ruth","Daniel","Esther","Musa","Joy","Paul","Hauwa",
        "James","Linda","Ali","Mercy","Joseph","Zara","Michael","Peace","Abdul","Rose",
        "David","Patience","Ismail","Favour","Joshua","Hannah","Usman","Faith","Emeka","Deborah"
    ],
    "last_name": [
        "Ade","Brown","Sule","Ojo","Mensah","Ali","Eze","Bello","Boateng","Lawal",
        "Ahmed","Smith","Sadiq","Okeke","Mohammed","Johnson","Abubakar","Suleiman","Williams","Onyekachi",
        "Doe","White","Hassan","Green","Miller","Adams","Sani","Clark","Taylor","Mustapha",
        "King","Evans","Farouk","Nelson","Young","Khan","Scott","Lewis","Kabir","Walker",
        "Bamidele","Uche","Salam","Okoro","Adeyemi","Daniels","Sule","Roberts","Eze","Cole"
    ],
    "age": [
        4,6,12,15,10,14,13,11,9,16,
        17,8,18,14,16,7,19,13,20,15,
        22,21,24,23,26,25,27,28,29,30,
        31,32,33,34,35,36,37,38,39,40,
        41,42,43,44,45,46,47,48,49,50
    ],
    "email": [
        f"user{i}@dsfp.com" for i in range(1, 51)
    ],
    "country": [
        "Nigeria","Ghana","Nigeria","Kenya","Ghana",
        "Egypt","Nigeria","Nigeria","Ghana","Kenya",
        "Nigeria","South Africa","Egypt","Nigeria","Sudan",
        "South Africa","Kenya","Nigeria","Ghana","Nigeria",
        "Nigeria","Ghana","Kenya","Nigeria","Egypt",
        "Sudan","Nigeria","Ghana","Kenya","Nigeria",
        "South Africa","Egypt","Nigeria","Ghana","Kenya",
        "Nigeria","Sudan","Nigeria","Ghana","Kenya",
        "Nigeria","South Africa","Egypt","Nigeria","Ghana",
        "Kenya","Nigeria","Sudan","Nigeria","Ghana"
    ],
    "gender": [
        "Male","Female","Female","Male","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female"
    ],
    "salary": [
        50000,60000,55000,70000,65000,
        62000,58000,54000,60000,72000,
        75000,52000,80000,68000,74000,
        51000,82000,66000,90000,70000,
        95000,88000,91000,87000,93000,
        89000,96000,99000,102000,105000,
        110000,108000,112000,115000,118000,
        120000,125000,128000,130000,135000,
        140000,145000,148000,150000,155000,
        158000,160000,165000,170000,175000
    ],
    "working_hours": [
        40,45,38,42,40,
        36,44,39,41,40,
        45,37,48,42,46,
        35,50,40,55,43,
        40,45,42,38,46,
        44,48,40,41,39,
        45,42,46,44,48,
        40,50,43,45,47,
        42,48,44,46,45,
        50,40,48,42,45
    ]
}
data2 = pd.DataFrame(DSFP50_INFO)
data2

,name,last_name,age,email,country,gender,salary,working_hours
0,Nabal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [28]:
data2.describe()

            age         salary  working_hours
count  50.00000      50.000000      50.000000
mean   26.44000  100520.000000      43.380000
std    13.38467   36266.721689       4.065233
min     4.00000   50000.000000      35.000000
25%    15.00000   70000.000000      40.000000
50%    25.50000   94000.000000      43.500000
75%    37.75000  127250.000000      46.000000
max    50.00000  175000.000000      55.000000

In [44]:
filt = data2["last_name"] == "Eze"
data2[filt]

,name,last_name,age,email,country,gender,salary,working_hours
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42

In [47]:
 filt = (data2["last_name"] == "Eze") & (data2['age'] > 13)

In [49]:
#getting values that didn't meet condition
#using the tilda '~' sign as negation 
data2.loc[~filt]

,name,last_name,age,email,country,gender,salary,working_hours
0,Nabal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [52]:
#people from sudan that earn atleast 30000
filt = (data2["country"] == "Sudan") & (data2['salary'] >= 30000)
data2[filt]

,name,last_name,age,email,country,gender,salary,working_hours
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48

In [51]:
#females that work for atleast 40hours and earn atleast 20000
filt = (data2["gender"] == "Female") & (data2['working_hours'] >= 40) & (data2['salary'] >= 20000)
data2[filt]

,name,last_name,age,email,country,gender,salary,working_hours
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [53]:
#changing column headers/names
data2.rename(columns = {'gender' : 'sex'}, inplace=True)

In [54]:
data2

,name,last_name,age,email,country,sex,salary,working_hours
0,Nabal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [61]:
#editing elements within the dataframe
#replace "Nabal" with "Jubal"
data2.iloc[0,0] = 'Jubal'
data2

,name,last_name,age,email,country,sex,salary,working_hours
0,Jubal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [68]:
#modifying columns
#adding 5hours to working_hours
data2['working_hours'] = data2['working_hours'] + 5

In [69]:
data2['working_hours']

0     45
1     50
2     43
3     47
4     45
5     41
6     49
7     44
8     46
9     45
10    50
11    42
12    53
13    47
14    51
15    40
16    55
17    45
18    60
19    48
20    45
21    50
22    47
23    43
24    51
25    49
26    53
27    45
28    46
29    44
30    50
31    47
32    51
33    49
34    53
35    45
36    55
37    48
38    50
39    52
40    47
41    53
42    49
43    51
44    50
45    55
46    45
47    53
48    47
49    50
Name: working_hours, dtype: int64

In [70]:
#creating new columns
data2['tax_salary'] = data2['salary'] * 0.05

In [75]:
data2['hourly_rate'] = (data2['salary'] / data2['working_hours'])

In [83]:
data2.head()

,name,last_name,age,email,country,sex,salary,working_hours,tax_salary,hourly_rate
0,Jubal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,45,2500.0,1111.111111
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,50,3000.0,1200.000000
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,43,2750.0,1279.069767
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,47,3500.0,1489.361702
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,45,3250.0,1444.444444

In [ ]:
#droping columns
data2.drop(columns = ['rate'], inplace=True)

In [85]:
#dropping rows
#by default, drop works on rows
data2.drop(0)

,name,last_name,age,email,country,sex,salary,working_hours,tax_salary,hourly_rate
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,50,3000.0,1200.000000
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,43,2750.0,1279.069767
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,47,3500.0,1489.361702
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,45,3250.0,1444.444444
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,41,3100.0,1512.195122
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,49,2900.0,1183.673469
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,44,2700.0,1227.272727
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,46,3000.0,1304.347826
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,45,3600.0,1600.000000
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,50,3750.0,1500.000000
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,42,2600.0,1238.095238
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,53,4000.0,1509.433962
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,47,3400.0,1446.808511
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,51,3700.0,1450.980392
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,40,2550.0,1275.000000
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,55,4100.0,1490.909091
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,45,3300.0,1466.666667
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,60,4500.0,1500.000000
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,48,3500.0,1458.333333
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,45,4750.0,2111.111111
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,50,4400.0,1760.000000
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,47,4550.0,1936.170213
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,43,4350.0,2023.255814
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,51,4650.0,1823.529412
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,49,4450.0,1816.326531
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,53,4800.0,1811.320755
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,45,4950.0,2200.000000
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,46,5100.0,2217.391304
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,44,5250.0,2386.363636
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,50,5500.0,2200.000000
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,47,5400.0,2297.872340
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,51,5600.0,2196.078431
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,49,5750.0,2346.938776
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,53,5900.0,2226.415094
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,45,6000.0,2666.666667
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,55,6250.0,2272.727273
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,48,6400.0,2666.666667
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,50,6500.0,2600.000000
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,52,6750.0,2596.153846
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,47,7000.0,2978.723404
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,53,7250.0,2735.849057
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,49,7400.0,3020.408163
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,51,7500.0,2941.176471
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,50,7750.0,3100.000000
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,55,7900.0,2872.727273
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,45,8000.0,3555.555556
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,53,8250.0,3113.207547
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,47,8500.0,3617.021277
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,50,8750.0,3500.000000

In [86]:
#droping multiple rows from different columns
data2.drop(['salary', 'sex'], axis = 1)

,name,last_name,age,email,country,working_hours,tax_salary,hourly_rate
0,Jubal,Ade,4,user1@dsfp.com,Nigeria,45,2500.0,1111.111111
1,Sony,Brown,6,user2@dsfp.com,Ghana,50,3000.0,1200.000000
2,Amina,Sule,12,user3@dsfp.com,Nigeria,43,2750.0,1279.069767
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,47,3500.0,1489.361702
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,45,3250.0,1444.444444
5,Fatima,Ali,14,user6@dsfp.com,Egypt,41,3100.0,1512.195122
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,49,2900.0,1183.673469
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,44,2700.0,1227.272727
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,46,3000.0,1304.347826
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,45,3600.0,1600.000000
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,50,3750.0,1500.000000
11,Mary,Smith,8,user12@dsfp.com,South Africa,42,2600.0,1238.095238
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,53,4000.0,1509.433962
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,47,3400.0,1446.808511
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,51,3700.0,1450.980392
15,Grace,Johnson,7,user16@dsfp.com,South Africa,40,2550.0,1275.000000
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,55,4100.0,1490.909091
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,45,3300.0,1466.666667
18,Peter,Williams,20,user19@dsfp.com,Ghana,60,4500.0,1500.000000
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,48,3500.0,1458.333333
20,John,Doe,22,user21@dsfp.com,Nigeria,45,4750.0,2111.111111
21,Sarah,White,21,user22@dsfp.com,Ghana,50,4400.0,1760.000000
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,47,4550.0,1936.170213
23,Ruth,Green,23,user24@dsfp.com,Nigeria,43,4350.0,2023.255814
24,Daniel,Miller,26,user25@dsfp.com,Egypt,51,4650.0,1823.529412
25,Esther,Adams,25,user26@dsfp.com,Sudan,49,4450.0,1816.326531
26,Musa,Sani,27,user27@dsfp.com,Nigeria,53,4800.0,1811.320755
27,Joy,Clark,28,user28@dsfp.com,Ghana,45,4950.0,2200.000000
28,Paul,Taylor,29,user29@dsfp.com,Kenya,46,5100.0,2217.391304
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,44,5250.0,2386.363636
30,James,King,31,user31@dsfp.com,South Africa,50,5500.0,2200.000000
31,Linda,Evans,32,user32@dsfp.com,Egypt,47,5400.0,2297.872340
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,51,5600.0,2196.078431
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,49,5750.0,2346.938776
34,Joseph,Young,35,user35@dsfp.com,Kenya,53,5900.0,2226.415094
35,Zara,Khan,36,user36@dsfp.com,Nigeria,45,6000.0,2666.666667
36,Michael,Scott,37,user37@dsfp.com,Sudan,55,6250.0,2272.727273
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,48,6400.0,2666.666667
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,50,6500.0,2600.000000
39,Rose,Walker,40,user40@dsfp.com,Kenya,52,6750.0,2596.153846
40,David,Bamidele,41,user41@dsfp.com,Nigeria,47,7000.0,2978.723404
41,Patience,Uche,42,user42@dsfp.com,South Africa,53,7250.0,2735.849057
42,Ismail,Salam,43,user43@dsfp.com,Egypt,49,7400.0,3020.408163
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,51,7500.0,2941.176471
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,50,7750.0,3100.000000
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,55,7900.0,2872.727273
46,Usman,Sule,47,user47@dsfp.com,Nigeria,45,8000.0,3555.555556
47,Faith,Roberts,48,user48@dsfp.com,Sudan,53,8250.0,3113.207547
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,47,8500.0,3617.021277
49,Deborah,Cole,50,user50@dsfp.com,Ghana,50,8750.0,3500.000000